<section>
    <div class="container mt-5">
        <h2 style="text-align: center;">Order History</h2>
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Address</th>
      <th scope="col">Pincode</th>
      <th scope="col">Mobile</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <td>{{this.date}}</td>
      <td>{{this.deliverydetails.address}}</td>
      <td>{{this.deliverydetails.pincode}}</td>
      <td>{{this.deliverydetails.mobile}}</td>
      <td>Rs.{{this.total}}</td>
      <td>{{this.paymentmethod}}</td>
      <td>{{this.status}}</td>
      <td><a href="/vieworderproducts/{{this._id}}" class="btn btn-success">View Products</a></td>   
    </tr>
    {{/each}}
  </tbody>
</table>

  <hr>
  <div class="float-end me-5 mt-3 mb-4"> 
  <a href="/" class="btn btn-primary " style="width: 253px;" >GoTo Home</a>
  </div>
</div>
</section>
